* {
    font-family: 'Homenaje', sans-serif;
}

h2 {
    color : slateblue;
}

.class-selector {
    font-size: 30px;
    /* border-style: dashed; */
    /* border-width : 10px; */
    /* border-color: firebrick; */
    /* 묶어서 쓸 수 있음 */
    border: 2px dashed firebrick;
}

#id-selector {
    font-size: 30px;
    font-style: italic;
    color: forestgreen;
    font-weight: 700; /* 폰트 굵기, 숫자로도 가능 */
}

